discord.py==1.4.1
python-dotenv==0.14.0
opencv-python-headless==4.2.0.32
requests==2.22.0
numpy==1.19.1
google-api-core==1.22.2
google-api-python-client==1.11.0
google-auth==1.21.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
python-dateutil==2.7.3
